*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 181, 181);
}
.container{
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    /* border: 1px solid rgb(235, 104, 104); */
}
.post-h1{
    padding: 30px;
    font-size: 36px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
.post-item{
    padding: 15px 0 20px 15px;
    background-color: rgb(239, 152, 152);
    margin-bottom: 30px;
}
.post-h5{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}
.post-h4{
    color: rgb(58, 58, 58);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}
.post-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    background-color: rgb(213, 211, 211);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.post-link:hover{
    color: rgb(67, 67, 67);
}